:root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
}

/* HEADER STYLES */
header {
  background-color: #312da8;
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

header h3 {
  margin-left: 1rem;
}

header ul {
  display: flex;
  list-style: none;
}

header li {
  margin-right: 1rem;
}

header li:first-child {
  margin-right: 2rem;
}

.upcoming-launches-title {
  background-color: #ffc107;
  color: #212121;
}

.launch-carousel {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.launch-info {
  background-color: #ededed;
  color: #212121;
}

.chevron-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.chevron-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.previous-launch {
  background-color: #ffc107;
  color: #212121;
}

.next-launch {
  background-color: #ffc107;
  color: #212121;
}

.mission-statement {
  background-color: #d1c4e9;
  color: #212121;
}

footer {
  background-color: #312da8;
  color: #ccc;
}

.fa-heart {
  color: #ffc107;
}
