:root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
}

/* HEADER STYLES */
header {
  background-color: #512da8;
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

header p {
  font-size: 1.5rem;
  cursor: pointer;
  text-align: center;
  margin-left: 8px;
}

header nav {
  display: flex;
}

header nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
}

header nav a {
  color: #fff;
  padding: 1.75rem 1.25rem 1.68rem 1rem;
}

header nav a:hover {
  background-color: #ffc107;
  color: #212121;
  cursor: pointer;
}
/* END HEADER STYLES */

/* HERO IMAGE STYLES */
.hero-image {
  background: url("https://apod.nasa.gov/apod/image/1902/ssportrait_vg1.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-image h1 {
  color: #fff;
  margin-top: 10rem;
  margin-bottom: 10rem;
  font-size: 2rem;
}

.image-attribute {
  text-align: center;
  font-size: 0.75rem;
}

/* END HERO IMAGE STYLES */

/* SHUTTLE LAUNCH DETAILS CAROUSEL */
.upcoming-launches-title {
  background-color: #ffc107;
  color: #212121;
}

.upcoming-launches-title h2 {
  margin: 0;
  padding: 1rem 0 1rem 0.5rem;
}

.launch-carousel {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.launch-info {
  background-color: #ededed;
  color: #212121;
  display: flex;
  flex-direction: column;
  width: 70%;
  padding-top: 1rem;
  border-radius: 5px;
  margin-top: 1rem;
}

.launch-info ol {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-top: 0;
}

.launch-info li section {
  border-bottom: 0.5px solid #a9a9a9;
}

.launch-info li section p {
  padding-left: 0.5rem;
}

.launch-info > ol > li:nth-child(3) > section {
  border-bottom: none !important;
}

.shuttle-name {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.shuttle-name h3 {
  margin-top: 0px;
  padding-left: 0.5rem;
}

.chevron-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.launch-details section {
  display: flex;
  align-items: center;
}

.chevron-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.previous-launch {
  background-color: #ffc107;
  color: #212121;
  height: 3.5rem;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  font-size: 2rem;
  width: 3rem;
}

.next-launch {
  background-color: #ffc107;
  color: #212121;
  height: 3.5rem;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  font-size: 2rem;
  width: 3rem;
}
/* END LAUNCH DETAILS STYLES */

/* MISSION STATEMENT STYLES */
.mission-statement {
  background-color: #d1c4e9;
  color: #212121;
  margin-top: 2rem;
  padding-top: 0.5rem;
  padding-bottom: 2rem;
}

.mission-statement h2 {
  text-align: center;
}

.mission-statement p {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
  text-align: center;
}
/* END MISSION STATEMENT STYLES */

/* FOOTER STYLES */
footer {
  background-color: #673ab7;
  color: #ccc;
}

footer p {
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin-top: 0px;
}

/* .fa-heart {
  color: #ffc107;
} */
/* END FOOTER STYLES */
